{% extends 'admin/index.html' %}

{% block header-title %}
{{category.name}} category
{% endblock %}

{% block breadcrumb-items %}
<li class="breadcrumb-item"><a href="{% url 'app:admin-index' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'app:admin-category-list' %}">Categories</a></li>
<li class="breadcrumb-item active">Detail</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6" id="all-products">
        <p class="pt-4 lead">Unrelated products</p>
        {% if products_not_in %}
        <div class="table-responsive">
            <table class="table  table-bordered">
                <thead class="w3-light-grey">
                <tr>
                    <th class="col-md-12">Name</th>
                    <th class="col-md-2">Add</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products_not_in %}
                <tr>
                    <td class="col-md-10">{{product.name}}</td>
                    <td class="col-md-2">
                        <div class="p-0 w3-right">
                            <a href="{% url 'app:admin-category-product-relate' category.id product.id %}"
                               class="btn btn-success btn-block btn-xs w3-tiny" style="padding: 2px 5px; width: 50px">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>All products are related to {{category.name}} category</p>
        {% endif %}
    </div>

    <div class="col-md-6" id="cursos-categoria">
        <p class="pt-4 lead">Related products</p>
        {% if products %}
        <div class="table-responsive">
            <table class="table  table-bordered">
                <thead class="w3-light-grey">
                <tr>
                    <th class="text-left col-md-2">Remove</th>
                    <th class="col-md-10">Product</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                <tr>
                    <td class="col-md-2">
                        <div class="p-0 w3-left">
                            <a href="{% url 'app:admin-category-product-remove-relation' category.id product.id %}"
                               class="btn btn-danger btn-block btn-xs w3-tiny" style="padding: 2px 5px; width: 50px">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                        </div>
                    </td>
                    <td class="col-md-10">{{product.name}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
<!--        {else}-->
        <p>No product is related to {{category.name}} category</p>
        {% endif %}
<!--        {/if}-->
    </div>
</div>
{% endblock %}