{% extends 'admin/index.html' %}

{% block header-title %}
{{category.name}} category
{% endblock %}

{% block breadcrumb-items %}
<li class="breadcrumb-item"><a href="{% url 'app:admin-index' %}">Home</a></li>
<li class="breadcrumb-item"><a href="{% url 'app:admin-category-list' %}">Categories</a></li>
<li class="breadcrumb-item active">Detail</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6" id="all-products">
        <p class="pt-4 lead">Unrelated products</p>
        {% if products_not_in %}
        <div class="table-responsive">
            <table class="table  table-bordered">
                <thead class="w3-light-grey">
                <tr>
                    <th>Name</th>
                    <th>Add</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products_not_in %}
                <tr>
                    <td>{{product.name}}</td>
                    <td>
                        <div class="p-0 w3-right">
                            <a href="/administrador/categorias/{$categoria.categoria_id}/cursos/{$value.curso_id}/relacionar"
                               class="btn btn-success btn-block btn-xs w3-tiny" style="padding: 2px 5px; width: 50px">
                                <i class="fa fa-arrow-right"></i>
                            </a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        {% else %}
        <p>All products are related to {{category.name}} category</p>
        {% endif %}
    </div>

    <div class="col-md-6" id="cursos-categoria">
        <p class="pt-4 lead">All products are related</p>
        {% if products %}
<!--        {if="$quantidadeCursosRelacionados>0"}-->
        <div class="table-responsive">
            <table class="table  table-bordered">
                <thead class="w3-light-grey">
                <tr>
                    <th class="text-left">Remove</th>
                    <th>#</th>
                    <th>Product</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
<!--                {loop="$cursosRelacionados"}-->
                <tr>
                    <td>
                        <div class="p-0 w3-left">
                            <a href="/administrador/categorias/{$categoria.categoria_id}/cursos/{$value.curso_id}/remover"
                               class="btn btn-danger btn-block btn-xs w3-tiny" style="padding: 2px 5px; width: 50px">
                                <i class="fa fa-arrow-left"></i>
                            </a>
                        </div>
                    </td>
                    <td>id</td>
                    <td>name/td>
                </tr>
                {% endfor %}
<!--                {/loop}-->
                </tbody>
            </table>
        </div>
        {% else %}
<!--        {else}-->
        <p>No product is related to {{category.name}} category</p>
        {% endif %}
<!--        {/if}-->
    </div>
</div>
{% endblock %}