{% extends 'admin/index.html' %}
{% load static %}

<!--CSS Styles-->
{% block page-styles %}
<link rel="stylesheet" href="{% static 'libs/datatables/css/datatables.min.css' %}">
{% endblock %}

{% block header-title %}
Categories
{% endblock %}

{% block breadcrumb-items %}
<li class="breadcrumb-item"><a href="{% url 'app:admin-index' %}">Home</a></li>
<li class="breadcrumb-item active">Products</li>
{% endblock %}


{% block content %}

<div class="mb-3">
    <a href="{% url 'app:admin-product-add' %}" class="btn btn-primary"><i class="fas fa-plus-circle"></i>
        Add product</a>
</div>

{% if products %}
<div class="table-responsive">
    <table class="table  table-bordered" id="product-table">
        <thead>
        <tr>
            <th class="col-md-10">Name</th>
            <th class="col-md-2">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>
            <td class="col-md-10">{{product.name}}</td>
            <td class="col-md-2">
                <div class="btn-group">
                    <a href="{% url 'app:admin-product-detail' pk=product.id %}"
                       class="btn btn-info btn-xs rounded p-1 px-2"><i class="fas fa-bars"></i></a>
                    <a href="{% url 'app:admin-product-edit' pk=product.id %"
                       class="btn btn-success btn-xs rounded p-1 px-2 mx-2"><i class="fas fa-edit"></i></a>
                    <a href="{% url 'app:admin-product-delete' pk=product.id %"
                       class="btn btn-danger btn-xs rounded p-1 px-2"><i class="fas fa-trash"></i></a>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
No registered products
{% endif %}

{% endblock %}

<!--CSS Styles-->
{% block page-scripts %}
<script src="{% static 'libs/datatables/js/datatables.min.js' %}"></script>

<script>
    $(document).ready( function () {
        $('#products-table').DataTable();
    } );








</script>
{% endblock %}